
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Info</h1>


<address>
    Chaz Fralick<br />
   
</address>

<address>
    <strong>Phone: 937.925.2022</strong><br />
    <strong>Email:</strong> <a href="cfralick2@gmail.com">cfralick2@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/chaz-fralick/">https://www.linkedin.com/in/chaz-fralick/</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/cfralick2">https://github.com/cfralick2</a>
</address>
