/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color:seagreen;*/
    background: url("https://wallpapercave.com/wp/wp5146507.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divBox {
    border: solid black;
    border-radius: 5px;
    background-color: hsla(120, 100%, 25%, 0.3);
}

.divText p {
    font-size: 75px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-weight: bold;
    color: floralwhite
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.linkTo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: floralwhite;
}

.picAndDescription {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    border: solid black;
    border-radius: 5px;
    background-color: hsla(120, 100%, 25%, 0.3);
}

    .description p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 5px;
        position: relative;
        color: floralwhite;
    }

#detailImage {
    width: 100%
}

.nameState {
    display: flex;
}

    .nameState p {
        color: floralwhite;
        font-size: 20px;
        background-color: hsla(120, 100%, 25%, 0.3);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.quote p {
    text-align: center;
    background-color: palegoldenrod;
    font-size: 35px;
    color: black;
    border: solid black;
    border-radius: 5px;
   
    
}


ul {
    display: flex;
    justify-content: space-between;
    color: floralwhite;
    font-size: 20px;
    background-color: hsla(120, 100%, 25%, 0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



footer {
    color: floralwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
